repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
    -   id: ruff
        args: [ --fix ]
    -   id: ruff-format

-   repo: local
    hooks:
    -   id: mypy
        name: mypy
        entry: python -m mypy
        language: system
        types: [python]

    -   id: pytest
        name: pytest
        entry: python -m pytest
        language: system
        pass_filenames: false
        always_run: true
